<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
	<sitecore>
		<settings>
			<!--  XDB ENABLED
                  Determines whether xDB is enabled or not.
                  Default value: true
              -->
			<setting name="Xdb.Enabled">
				<patch:attribute name="value" value="false" />
			</setting>
			<!--  XDB TRACKING ENABLED
                  Determines whether tracking is enabled or not.
                  Default value: true
              -->
			<setting name="Xdb.Tracking.Enabled">
				<patch:attribute name="value" value="false" />
			</setting>
		</settings>

		<services>
			<configurator type="Sitecore.Analytics.Aggregation.HealthCheckServicesConfigurator, Sitecore.Analytics.Aggregation">
				<patch:delete />
			</configurator>
		</services>
	</sitecore>
</configuration>
