<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
	<sitecore>
		<services>
			<!--  Patched out the following configurators so they are not included in the docker health check. 
                  Remove this if you want to enable XConnect.
              -->
			<configurator role:require="!Reporting" type ="Sitecore.XConnect.Client.Configuration.HealthCheckServicesConfigurators.XConnectCollectionHealthCheckServicesConfigurator, Sitecore.XConnect.Client.Configuration">
				<patch:delete />
			</configurator>
			<configurator role:require="!Reporting" type ="Sitecore.XConnect.Client.Configuration.HealthCheckServicesConfigurators.XConnectConfigurationHealthCheckServicesConfigurator, Sitecore.XConnect.Client.Configuration">
				<patch:delete />
			</configurator>
			<configurator role:require="Standalone or ContentManagement" type ="Sitecore.XConnect.Client.Configuration.HealthCheckServicesConfigurators.XConnectSearchHealthCheckServicesConfigurator, Sitecore.XConnect.Client.Configuration">
				<patch:delete />
			</configurator>
		</services>
	</sitecore>
</configuration>
